// includes
@use './_var-collection.scss';
@use './_mixins.scss' as mixins;

* {
  padding: 0;
  margin: 0;

  font-size: var(--root-font-size);
  text-wrap: balance;
  word-break: break-word;

  box-sizing: border-box;
}

#svelte-app {
  height: 100dvh;

  @include mixins.prefersColorScheme(light) {
    background-color: var(--light-theme-background-color);
  }

  @include mixins.prefersColorScheme(dark) {
    background-color: var(--dark-theme-background-color);
  }
}
